@font-face {
    font-family: "Drawliner";
    src: url("../fonts/Drawliner.otf") format("opentype");
}

@font-face {
    font-family: "Namaku";
    src: url("../fonts/namaku.regular.otf") format("opentype");
}